body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    background-image: url(Bgd/bgd.png);
}

#navbar {
    background-color: transparent;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    margin-left: -8px;
    padding-top: 15px;
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: million dreams;
}

#navbar a:hover {
    background-color: transparent;
    color: darkgrey;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 5px;
    margin-left: 250px;
}

.row1 :hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    margin-left: 5px;
    padding: 0 5px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform .2s;
}

.column img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/*contact bar*/
.contactbar {
    background-color: black;
    opacity: 40%;
    margin-top: 480px;
    padding: 30px 100px 30px 100px;
}

.Contact {
    background-color: transparent;
    width: 2%;
    height: auto;
}