body {
    background: #d9d9d9;
    padding: 0;
    margin: 0;
}

#navbar {
    background-color: transparent;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    padding-top: 15px;
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: million dreams;
}

#navbar a:hover {
    background-color: transparent;
    opacity: 50%;
}

.scroll-animations-example > .scrollsection {
    margin: 15vh 10vh 10vh 10vmax;
    min-width: 650vh;
}

.scroll-animations-example > .scrollsection > .item {
    display: inline-block;
    position: relative;
    margin: 0vh -30vh 0 3vh;
}

.scroll-animations-example > .scrollsection > .item::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.scroll-animations-example > .scrollsection > .item.-big {
    height: 80vh;
    width: 60vh;
}

.scroll-animations-example > .scrollsection > .item.-big.-horizontal {
    height: 60vh;
    width: 80vh;
}

.scroll-animations-example > .scrollsection > .item.-normal {
    height: 60vh;
    width: 45vh;
    z-index: 1;
}

.scroll-animations-example > .scrollsection > .item.-normal.-horizontal {
    height: 45vh;
    width: 60vh;
}

.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(3n) {
    bottom: 5vh;
}

.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(4n) {
    bottom: -5vh;
}

.scroll-animations-example > .scrollsection > .item.-small {
    height: 40vh;
    width: 30vh;
    z-index: 2;
}

.scroll-animations-example > .scrollsection > .item.-small.-horizontal {
    height: 30vh;
    width: 40vh;
}

.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(3n) {
    bottom: 13vh;
}

.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(4n) {
    bottom: -13vh;
}

.scroll-animations-example > .scrollsection > .item > .image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    opacity: 0;
    pointer-events: none;
    transform: translateX(0) translateY(0) scale(1);
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 1) > .image {
    transform: translateX(30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.05s;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 2) > .image {
    transform: translateX(-30vh) translateY(30vh) scale(0.8);
    transition-delay: 0.1s;
}

.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 3) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(0.8);
    transition-delay: 0.15s;
}

.scroll-animations-example > .scrollsection > .item > .image.-active {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.8;
    pointer-events: auto;
    transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
}

.scroll-animations-example > .scrollsection > .item > .image.-active:hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(0);
    opacity: 1;
    cursor: pointer;
}
