body {
    background-image: url(Bgd/b.png);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#navbar {
    background-color: transparent;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    padding-top: 15px;
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: million dreams;
}

#navbar a:hover {
    background-color: transparent;
    opacity: 50%;
}

h1 {
    text-align: center;
    color: black;
    opacity: 70%;
    font-family: chistoso;
    font-size: 600%;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: white;
    font-family: chistoso;
    font-size: 400%;
    margin-top: 20px;
    text-decoration: underline;
}

.column2 h3 {
    font-family: geosanslight;
}

/* Clear floats after the columns */
h3 {
    text-align: left;
    color: rgba(0, 0, 0, 0.767);
    opacity: 65%;
    font-family: geosanslight;
    font-size: 150%;
    margin-top: 0px;
    padding-left: 30%;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 10%;
    padding-left: 0%;
    margin-left: 8%;
    margin-top: 20px;
    height: 300px;
}

/* Create two equal columns that floats next to each other */
.column2 {
    float: left;
    width: 40%;
    margin-left: -3%;
    margin-top: 10%;
    height: auto;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

.home {
    position: relative;
    animation-name: easeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes easeIn {
    from {
        top: 200px;
        opacity: 0%;
    }

    to {
        top: 0px;
        opacity: 100%;
    }
}

.pic {
    position: relative;
    animation-name: rightside;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes rightside {
    from {
        right: 200px;
        opacity: 0%;
    }

    to {
        right: 0px;
        opacity: 100%;
    }
}

.column {
    float: right;
    width: 10%;
    margin-right: 15%;
    margin-top: 20px;
    height: 300px;
}

.colum {
    float: right;
    width: 45%;
    margin-right: 5%;
    margin-top: 5%;
    height: auto;
    text-align: right;
}

/*reveal*/
/*thing reveal when scroll*/
.section {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.artwork {
    float: center;
    width: 100%;
    padding-right: 0;
    margin-top: 0px;
    height: auto;
}

.artworkbtn {
    color: black;
    opacity: 80%;
    text-decoration: underline;
    transition: 0.4s;
    border: 0px;
    background-color: transparent;
    font-family: chistoso;
    font-size: 20pt;
    position: relative;
    width: 100%;
}

.artworkbtn:hover {
    opacity: 50%;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    margin: 0px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/*contact bar*/
.contactbar {
    background-color: black;
    opacity: 40%;
    margin-top: 480px;
    padding: 30px 100px 30px 100px;
}

.Contact {
    background-color: transparent;
    width: 2%;
    height: auto;
}