@import url(https://fonts.googleapis.com/css?family=Anaheim);

body {
    margin-top: 30px;
    letter-spacing: 0.5px;
    background-image: url(Bgd/bgd.png);
}

#navbar {
    background-color: transparent;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    margin-left: -8px;
    padding-top: 15px;
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: million dreams;
}

#navbar a:hover {
    background-color: transparent;
    color: darkgrey;
}

h1 {
    text-align: center;
    color: white;
    font-family: chistoso;
    font-size: 400%;
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 900px;
}

#left,
#right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#left {
    margin-left: -500px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 25px;
    border-bottom-width: 25px;
    border-right: 40px solid black;
    opacity: 40%;
}

#right {
    margin-left: 500px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 25px;
    border-top-width: 25px;
    border-left: 40px solid black;
    opacity: 40%;
}

#carousel {
    transform-origin: center center -450px;
    transform-style: preserve-3d;
    transition: all 1s;
}

.imgBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    transform-origin: center center;
    z-index: 2;
}

.imgBlock:hover .fa-heart {
    opacity: 1;
    visibility: visible;
}

.img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.heartBlock {
    position: absolute;
    bottom: 30px;
    right: 30px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.fa-heart {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: white;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.fas {
    opacity: 1;
    visibility: visible;
}

.imgBlock:nth-of-type(1) {
    transform: translate3d(0, 0, 0px) rotateY(0deg);
}

.imgBlock:nth-of-type(2) {
    transform: translate3d(320px, 0, -130px) rotateY(45deg);
}

.imgBlock:nth-of-type(3) {
    transform: translate3d(450px, 0, -450px) rotateY(90deg);
}

.imgBlock:nth-of-type(4) {
    transform: translate3d(320px, 0, -770px) rotateY(135deg);
}

.imgBlock:nth-of-type(5) {
    transform: translate3d(0, 0, -900px) rotateY(180deg);
}

.imgBlock:nth-of-type(6) {
    transform: translate3d(-320px, 0, -770px) rotateY(225deg);
}

.imgBlock:nth-of-type(7) {
    transform: translate3d(-450px, 0, -450px) rotateY(270deg);
}

.imgBlock:nth-of-type(8) {
    transform: translate3d(-320px, 0, -130px) rotateY(315deg);
}
